
.notification-block {
    position: absolute;
    right: 10px;
    top: 10px;
}

.notification {
    background-color: white;
    border: black solid 1px;
    margin-bottom: 10px;
    padding: 20px;
}

.notification.success {
    border-color: green;
}

.notification.error {
    border-color: red;
}

.notification.warning {
    border-color: orange;
}